<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <link rel ="stylesheet" href="/css/style.css">
   <head th:replace="fragments/vari.html :: headerfiles(title='CorsoAddForm')"></head>
   <body background = "/images/sottofondoPerIlResto.jpg"; background-height: 100vh; background-position: center;  background-repeat: no-repeat;  background-size: cover;> 
   <div th:replace = "fragments/vari.html :: navbar"></div>
   <div class="vh-100" style="height: 950px;">
      <section class="vh-100">
         <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
               <div class="row d-flex justify-content-center align-items-center h-100">
                  <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                     <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                           <h2 class="text-uppercase text-center mb-5">Inserisci Corso</h2>
                           <form th:action="@{/corso/add/}" th:object="${corso}" method="post">
                              <div th:if="${#fields.hasGlobalErrors()}">
                                 <p id = "errori" th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
                              </div>
                              <div class="form-outline mb-4">
                                 <label class="form-label">Nome Corso</label>
                                 <input type="text" th:field="*{nomeCorso}" id="nomeCorso" placeholder="nomeCorso" class="form-control form-control-lg" />
                                 <div id = "errori" th:if="${#fields.hasErrors('nomeCorso')}" th:errors="*{nomeCorso}"></div>
                              </div>
                              <div class="form-outline mb-4">
                                 <label class="form-label">Programma</label>
                                 <input type="text" th:field="*{programmaCorso}" id="programmaCorso" placeholder="programmaCorso" class="form-control form-control-lg" />
                                 <div  id = "errori" th:if="${#fields.hasErrors('programmaCorso')}" th:errors="*{programmaCorso}"></div>
                              </div>
                              <div class="form-outline mb-4">
                                 <label class="form-label">CFU</label>
                                 <input type="text" th:field="*{cfu}" id="cfu" placeholder="cfu" class="form-control form-control-lg" />
                                 <div  id = "errori" th:if="${#fields.hasErrors('cfu')}" th:errors="*{cfu}"></div>
                              </div>
                              <div class="form-outline mb-4" th:object = "${esami}">
                                 <label class="form-label">Seleziona Un esame</label>		                
                                 <select>
                                    <option value="">Seleziona una data e Sessione</option>
                                    <option th:each="esame : ${esami}"  th:value="${esame.id}" th:text="${esame.nomeEsame} + ${esame.dataEsame} + ${esame.tipoSessione}"></option>
                                 </select>
                                 <input type="text" id="nomeEsame" placeholder=" inserire nomeEsame"  name = "nomeEsame" class="form-control form-control-lg" />	
                              </div>
                              <div class="form-outline mb-4" th:object = "${professore}">
                                 <label class="form-label">Seleziona Un Professore</label>		                
                                 <select>
                                    <option value="">Seleziona Un Professore</option>
                                    <option th:each="professore : ${professori}" th:text="${professore.cognomeProfessore}"> </option>
                                    <input type="text" id="nomeProfessore" placeholder=" inserire cognomeProfessore"  name = "cognomeProfessore" class="form-control form-control-lg" />
                                 </select>
                              </div>                              
                              <div class="d-flex justify-content-center">
                                 <a th:href = "@{/default}" role= "button" class="btn btn-danger btn-block btn-lg gradient-custom-4 text-body">Annulla</a>
                              </div>
                              <div class="d-flex justify-content-center">
                                 <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Inserisci</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
   <div th:replace = "fragments/vari.html :: footer"></div>
   </body>
